@import "../../../assets/styles/index";

.heading {
  font-weight: bold;
  font-size: 12px;

  &.link {
    color: $links;
  }
}

.headingWrapper {
  float: left;
  font-weight: bold;
  font-size: 10px;
  margin-right: 20px;
}
